<%- include("../partials/header") %>
<div class ="container">

<div class = "row">
  <h1 style ="text-align: center; margin :auto;">Add a new comment to <%= campground.name %></h1>
  
    <div class = "my-form">
<form action="/campgrounds/<%= campground._id %>/comments" method="post">
    
    <div class ="mb-3"><input class ="form-control" type="text" id="comment[text]" name="comment[text]"></div>
    
    
    <div class ="mb-3"><button type="Submit" class="btn mr-md-2 mb-md-0 mb-2 btn-def">Submit</button></div>
  </form>
  <a href ="/campgrounds">Go back</a>

</div>
</div>
</div>

 