
<%- include("../partials/header") %>
<div class ="container">

<div class = "row">
  <h1 style ="text-align: center; margin :auto;">Create a new campground</h1>
  <div class = "my-form">
    
<form action="/campgrounds" method="post">
    
    <div class ="mb-3"><input class ="form-control" type="text" id="name" name="name"></div>
    <div class ="mb-3"><input class ="form-control" type="text" id="image" name="image"></div>
    <div class ="mb-3"><input class ="form-control" type="text" id="description" name="description"></div>
    <div class ="mb-3"><button type="Submit" class="btn mr-md-2 mb-md-0 mb-2 btn-def">Submit</button></div>
  </form>
  <a href ="/campgrounds">Go back</a>
</div>
  
</div>
</div>

 